/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*/
.loginbody{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logincontainer {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: var(--loginBg);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 20px;
}

.logincontainer .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.logincontainer .form {
    width: 50%;
    padding: 30px;
    background-color: var(--loginBg);
    transition: margin-left 0.18s ease;
}

.logincontainer.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.logincontainer .register {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.logincontainer.active .register {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.logincontainer.active .forms {
    height: 600px;
    width: 600px;
}

.logincontainer .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 80%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background-color: var(--inputFieldBg);
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}


.input-field i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--inputIcon);
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}


.forms .button input {
    border: none;
    color: #fff;
    width: 122%;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: cadetblue;
}

.forms .login-register {
    margin-top: 30px;
    text-align: center;
}