:root {
    --green: #7FFFD4;
    --white: #FFFFFF;
    --black: #000000;
    --darkgreen: #197D4B; 
    --grey: #787878;
}


body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 4px;
    text-align: center;
    color: var(--headerFontColor);
    background-color: var(--headerBg);
}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --headerBg: var(--darkgreen);
    --headerFontColor: var(--black);
    --navbarBg: var(--grey);
    --navbarFontColor: var(--black);
    
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --headerBg: var(--darkgreen);
    --headerFontColor: var(--white);
    --navbarBg: var(--grey);
    --navbarFontColor: var(--white);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.navbar {
    overflow: hidden;
    background-color: var(--navbarBg);
}

.navbar a{
    float: left;
    display: block;
    color: var(--navbarFontColor);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: white;
    color: teal;
}

.navbar a.right{
    float: right;
}