:root {
    --white: #FFFFFF;
    --black: #000000;
    --darkgreen: #2d6a32; 
    --grey: #787878;
    --darkgrey: #4D4D4D;
    --blue: #454FD9;
    --darkergrey: #202124;
}


body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 4px;
    color: var(--white);
    background-color: var(--darkgreen);
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --headerBg: var(--darkgreen);
    --headerFontColor: var(--black);
    --navbarBg: var(--grey);
    --navbarFontColor: var(--black);
    --navbarHoverBg: var(--white);
    --navbarHoverFontColor: var(--black);
    --thumbnailBg: var(--white);
}

.dark-theme {
    --bg: var(--darkergrey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --headerBg: var(--darkgreen);
    --headerFontColor: var(--white);
    --navbarBg: var(--darkgrey);
    --navbarFontColor: var(--white);
    --navbarHoverBg: var(--grey);
    --navbarHoverFontColor: var(--black);
    --thumbnailBg: var(--grey);
}

.logo_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    /*display: flex;
    justify-content: baseline;
    align-items: center;*/
    float: right;
    top: 20px;
    right: 250px;
    height: 50px;
    width: 100px;
    /*border-radius: 50%;*/
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.navbar {
    overflow: hidden;
    background-color: var(--navbarBg);
}

.navbar a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--navbarHoverBg);
    color: var(--navbarHoverFontColor);
}

.navbar a.right {
    float: right;
}

div.thumbnail {
    width: 140px;
    background-color: var(--thumbnailBg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    
}

div.rowcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

/* Error Label */

.errorlabel {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #ff0000;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ff0000;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}