div.thumbnail {
    width: 140px;
    background-color: var(--thumbnailBg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    
}

.booktitle {
    font-size: medium;
}

.bookBtn {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 1009;
    height: 100vh;
    background-color: Org(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.popup-inner.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.popup-content {
    top: 65vh !important;
    left: 0 !important;
    margin: 3em;
}


#bookPopup {
    background-color: #fff;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}