:root {
  --white: #FFFFFF;
  --black: #000000;
  --darkgreen: #2d6a32; 
  --grey: #787878;
  --darkgrey: #4D4D4D;
  --blue: #454FD9;
  --darkergrey: #202124;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: Arial, Helvetica, sans-serif;

  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  --headerBg: var(--darkgreen);
  --headerFontColor: var(--white);
  --navbarBg: var(--grey);
  --navbarFontColor: var(--white);
  --navbarHoverBg: var(--white);
  --navbarHoverFontColor: var(--black);
  --thumbnailBg: var(--white);
  --loginBg: var(--white);
  --inputFieldBg: var(--white);
  --inputIcon: #ccc;
  --loginregisterlink: var(--blue);
  --loginregisterfocus: var(--grey);
}

/*.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  --headerBg: var(--darkgreen);
  --headerFontColor: var(--black);
  --navbarBg: var(--grey);
  --navbarFontColor: var(--black);
  --navbarHoverBg: var(--white);
  --navbarHoverFontColor: var(--black);
  --thumbnailBg: var(--white);
  --loginBg: var(--white);
  --inputFieldBg: var(--white);
  --inputIcon: var(--grey);
}*/

.dark-theme {
  --bg: var(--darkergrey);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
  --headerBg: var(--darkgreen);
  --headerFontColor: var(--white);
  --navbarBg: var(--darkgrey);
  --navbarFontColor: var(--white);
  --navbarHoverBg: var(--darkergrey);
  --navbarHoverFontColor: var(--white);
  --thumbnailBg: var(--grey);
  --loginBg: var(--grey);
  --inputFieldBg: var(--grey);
  --inputIcon: var(--white);
  --loginregisterlink: var(--white);
  --loginregisterfocus: var(--white);
}

.logo_btn { /*this is actually formatting for the entire header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: var(--headerFontColor);
  background-color: var(--headerBg);
  
}

.btn {
  float: right;
  top: 20px;
  right: 250px;
  height: 45px;
  width: 100px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.navbar {
  overflow: hidden;
  background-color: var(--navbarBg);
  color:rgba(0, 0, 0, 1);
}

.navbar a {
  float: left;
  display: block;
  color: var(--navbarFontColor);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--navbarHoverBg);
  color: var(--navbarHoverFontColor);
}

.navbar a.right {
  float: right;
}

div.thumbnail {
  width: 140px;
  background-color: var(--thumbnailBg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  
}

.logout input {
  float: left;
  top: 20px;
  right: 250px;
  height: 45px;
  width: 100px;
  border: none;
  cursor: pointer;
  color: var(--navbarFontColor);
  background-color: var(--navbarBg);
  font-size: medium;
}

.logout input:hover{
  background-color: var(--navbarHoverBg);
  color: var(--navbarHoverFontColor);
  height: 46.5px;
}

.logintoggle.active .login { /*user is logged in*/
  margin-left: -50%; /*moves regardless of active or inactive*/
  opacity: 1;
}

.logintoggle.active .logout {
  opacity: 1;
  display: block;
}

.logintoggle .logout { /*user is not logged in*/
  opacity: 0;
  display: none;
}
